  <footer class="footer pt-5 mt-5">
    <hr class="horizontal dark mb-5">
    <div class="container">
      <div class=" row">
		{SETSTYLE=footer}
        <div class="col-md-3 mb-4 ms-auto">
			{DEFAULT_MENUAREA=41}
			{MENUAREA=41}
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
			{DEFAULT_MENUAREA=42}
			{MENUAREA=42}
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
			{DEFAULT_MENUAREA=43}
			{MENUAREA=43}
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4">
			{DEFAULT_MENUAREA=44}
			{MENUAREA=44}
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
			{DEFAULT_MENUAREA=45}
			{MENUAREA=45}
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="my-4 text-sm">
              {SITEDISCLAIMER}
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>