 
  
    <footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          {NAVIGATION: type=main&layout=footer}
        </div>
        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
          {XURL_ICONS: template=footer}
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
           {SITEDISCLAIMER}
          </p>
        </div>
      </div>
    </div>
  </footer>