<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">  
    <div class="container">{NAVBAR_BRANDING}            
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">      
            <span class="navbar-toggler-icon mt-2">        
                <span class="navbar-toggler-bar bar1">
                </span>        
                <span class="navbar-toggler-bar bar2">
                </span>        
                <span class="navbar-toggler-bar bar3">
                </span>      
            </span>    
        </button>    
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">     {NAVIGATION: type=main}   {SIGNIN}		  
        </div>  
    </div>
</nav>
<!-- End Navbar -->

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{---CAPTION---}
      <small>{---TEXT---}</small>
    </h1>

    {---BREADCRUMB---}

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
			{ALERTS}
			{SETSTYLE=main}
			{---}
      </div>

		  <div class="col-md-4 mb-3 sidebar">
			<!-- Standard sidebar menu -->
			<div class="menu"> 
				{SETSTYLE=cardmenu}
				{MENU=1} 
			</div>
			<!-- Example for listgroup menu -->
			<div class="list">
				{SETSTYLE=listgroup}
				{MENU=2} 
			</div>
		</div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
 
 
 
 